html {
  height: 100%;
}

body {
  font-family: sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(#141e30), to(#243b55));
  background: linear-gradient(#141e30, #243b55);
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 650px;
  padding: 40px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
          box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.todo-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.todo-form__input {
  width: 70%;
  padding: 10px 0;
  font-size: 16px;
  color: #03e9f4;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #03e9f4;
  outline: none;
  background: transparent;
}

.todo-form__button {
  border: none;
  background: inherit;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: .5s;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.mainbtn {
  border: 1px solid #03e9f4;
  background: inherit;
  position: relative;
  display: inline-block;
  color: #03e9f4;
  font-size: 14px;
  padding: 5px 10px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  margin-top: 40px;
  -webkit-transition: .5s;
  transition: .5s;
  letter-spacing: 4px;
}

.mainbtn p {
  margin: 0;
}

.todo-form__button:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
          box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
}

.todo-form__button span {
  position: absolute;
  display: block;
}

.todo-form__button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#03e9f4));
  background: linear-gradient(90deg, transparent, #03e9f4);
  -webkit-animation: btn-anim1 1s linear infinite;
          animation: btn-anim1 1s linear infinite;
}

@-webkit-keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.todo-form__button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#03e9f4));
  background: linear-gradient(180deg, transparent, #03e9f4);
  -webkit-animation: btn-anim2 1s linear infinite;
          animation: btn-anim2 1s linear infinite;
  -webkit-animation-delay: .25s;
          animation-delay: .25s;
}

@-webkit-keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%, 100% {
    top: 100%;
  }
}

.todo-form__button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(transparent), to(#03e9f4));
  background: linear-gradient(270deg, transparent, #03e9f4);
  -webkit-animation: btn-anim3 1s linear infinite;
          animation: btn-anim3 1s linear infinite;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

@-webkit-keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.todo-form__button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#03e9f4));
  background: linear-gradient(360deg, transparent, #03e9f4);
  -webkit-animation: btn-anim4 1s linear infinite;
          animation: btn-anim4 1s linear infinite;
  -webkit-animation-delay: .75s;
          animation-delay: .75s;
}

@-webkit-keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

/*  Checkbox  */
.li {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30px auto;
      grid-template-columns: 30px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.key {
  color: #414856;
  position: relative;
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.key:after {
  content: "";
  position: absolute;
  height: 4px;
  width: 4px;
  top: 8px;
  left: -25px;
  border-radius: 50%;
}

input[type="checkbox"] {
  position: relative;
  height: 15px;
  width: 15px;
  outline: none;
  border: 0;
  margin: 0 15px 0 0;
  cursor: pointer;
  background: #fff;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input[type="checkbox"]::before, input[type="checkbox"]::after {
  content: "";
  position: absolute;
  height: 2px;
  top: auto;
  background: #4F29F0;
  border-radius: 2px;
}

input[type="checkbox"]::before {
  width: 0px;
  right: 60%;
  -webkit-transform-origin: right bottom;
          transform-origin: right bottom;
}

input[type="checkbox"]::after {
  width: 0px;
  left: 40%;
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
}

input[type="checkbox"]:checked .span {
  color: #C3C8DE;
  -webkit-animation: move .3s ease .1s forwards;
          animation: move .3s ease .1s forwards;
}

input[type="checkbox"]:checked .span::before {
  background: #C3C8DE;
  -webkit-animation: slice .4s ease forwards;
          animation: slice .4s ease forwards;
}

input[type="checkbox"]:checked .span::after {
  -webkit-animation: firework .5s ease forwards .1s;
          animation: firework .5s ease forwards .1s;
}

@-webkit-keyframes move {
  50% {
    padding-left: 8px;
    padding-right: 0px;
  }
  100% {
    padding-right: 4px;
  }
}

@keyframes move {
  50% {
    padding-left: 8px;
    padding-right: 0px;
  }
  100% {
    padding-right: 4px;
  }
}

@-webkit-keyframes slice {
  60% {
    width: 100%;
    left: 4px;
  }
  100% {
    width: 100%;
    left: -2px;
    padding-left: 0;
  }
}

@keyframes slice {
  60% {
    width: 100%;
    left: 4px;
  }
  100% {
    width: 100%;
    left: -2px;
    padding-left: 0;
  }
}

@-webkit-keyframes firework {
  0% {
    opacity: 1;
    -webkit-box-shadow: 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0;
            box-shadow: 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-box-shadow: 0 -15px 0 0px #4F29F0, 14px -8px 0 0px #4F29F0, 14px 8px 0 0px #4F29F0, 0 15px 0 0px #4F29F0, -14px 8px 0 0px #4F29F0, -14px -8px 0 0px #4F29F0;
            box-shadow: 0 -15px 0 0px #4F29F0, 14px -8px 0 0px #4F29F0, 14px 8px 0 0px #4F29F0, 0 15px 0 0px #4F29F0, -14px 8px 0 0px #4F29F0, -14px -8px 0 0px #4F29F0;
  }
}

@keyframes firework {
  0% {
    opacity: 1;
    -webkit-box-shadow: 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0;
            box-shadow: 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0, 0 0 0 -2px #4F29F0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-box-shadow: 0 -15px 0 0px #4F29F0, 14px -8px 0 0px #4F29F0, 14px 8px 0 0px #4F29F0, 0 15px 0 0px #4F29F0, -14px 8px 0 0px #4F29F0, -14px -8px 0 0px #4F29F0;
            box-shadow: 0 -15px 0 0px #4F29F0, 14px -8px 0 0px #4F29F0, 14px 8px 0 0px #4F29F0, 0 15px 0 0px #4F29F0, -14px 8px 0 0px #4F29F0, -14px -8px 0 0px #4F29F0;
  }
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.d-flex p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-flex p span {
  margin-right: 5px;
}

.todo-item-complete-text {
  color: #243b55;
  letter-spacing: 3px;
}

.todo-item-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.todo-item-delete-btn {
  border: 1px solid #03e9f4;
  background: inherit;
  position: relative;
  display: inline-block;
  color: #03e9f4;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: .5s;
  transition: .5s;
  letter-spacing: 3px;
}

.todo-item {
  margin-top: 10px;
}
/*# sourceMappingURL=main.css.map */